img {
    width: 200px;
    padding: 15px;
    height: 200px;
    border-radius: 150px;
}

.avatar {
    transition: transform .2s;
    width: 400px;
    background-color: khaki;
    display: flex;
    justify-content: inherit;
    padding: 15px;
    margin: 10px;
    box-shadow: 7px 7px 5px rgb(114, 110, 110);
}

.avatar:hover {
    transform: scale(1.1);
}

.avatar h3 {
    color: rgb(209, 124, 188);
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}